# Python Virtual Environments
MAIN/.venv
.venv
venv
# Python cache
__pycache__/
*.pyc
.env
MAIN\__pycache__
trial_media/images/*
trial_media/texts/*
trial_media/videos/*
trial_media/Tex/*
MAIN\trial_media\images\*
MAIN\trial_media\texts\*
MAIN\trial_media\videos\*
MAIN\trial_media\Tex\*
